.card {
  flex:1;
  margin-left: 1.5rem;
  border-radius: 5px;
  padding: 1rem;
  background-color:#2d3436;
  &:first-child {
    margin-left: 0;
  }
  p {
   text-align: center;
  }
  &-title, &-value{
    font-size: 2rem;
    color:#ffffff
  }
  &-value {
    color:#00b894;
  }
  &-procent {
    color:#81ecec;
    font-size: 1.2rem;
    margin-left: 2rem
  }
}