@import '../../scss/mixins';
@import '../../scss/mediaqueries';
.container  {
  margin : 0 auto;
  max-width: 138rem;
  .current-date, .generals {
    @include width-custom(138rem);
  }
  
  .website-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    padding-top: 2rem;
    @include respond-max(xs) {
      flex-direction: column;
    }
    p {
      color: #2d3436;
      font-size: 2rem;
      font-weight: 500;
      @include respond-max(xs) {
        font-size: 1.6rem;
      }
    }
  }
  
  h1 {
    color: #0984e3;
    font-size: 3rem;
    @include respond-max(xs) {
      font-size: 2rem;
    }
  }
  
  .graphic {
    margin-top:5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @include respond-max(xs) {
      flex-direction: column;
      align-items: center;
      align-content: center;
    }
  }
  
  .percentage-persons {
    display: flex;
    flex-direction: column;
    @include respond-max(xs) {
      align-items: center;
    }
  }
  .history-section {
    margin-top: 6rem;
    padding-bottom: 5rem;
    display: flex;
    justify-content: space-between;
    @include respond-max(xs) {
      margin-top: 0;
      flex-direction: column;
      align-items: center;
    }
    
  }
}
