@import '../../scss/mixins';
.container  {
  margin : 0 auto;
  max-width: 146rem;
  .current-date, .generals {
    @include width-custom(146rem);
  }
  
  .website-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    padding-top: 2rem;
    p {
      color: #2d3436;
      font-size: 2rem;
      font-weight: 500;
    }
  }
  
  h1 {
    color: #0984e3;
    font-size: 3rem;
  }
  
  .generals {
    display: flex;
    justify-content: space-between;
  }
}