@import '../../../scss/mixins';
@import '../../../scss/mediaqueries';

.card {
  flex:1;
  margin-left: 1.5rem;
  border-radius: 5px;
  padding: 1rem;
  background-color:#2d3436;
  @include respond-max(xs) {
    margin-left: 0;
    border-radius: 0;
    padding: 0;
    border-bottom: 1px dotted #fdcb6e;
  }
}

.card-grey {
  &:first-child {
    margin-left: 0;
  }
  p {
    text-align: center;
  }
  .card-title, .card-value {
    font-size: 2rem;
    color: #ffffff;
    @include respond-max(xs) {
      font-size: 1.6rem
    }
  }
  .card-value {
    color: #00b894;
  }
  .card-procent {
    color: #81ecec;
    font-size: 1.2rem;
    margin-left: 2rem
  }
}

.card-white {
  @include borderBox;
  @include respond-max(xs) {
    border: none;
  }
  margin-top: 1rem;
  margin-left: 0;
  background-color: transparent;
  
  h3 {
    font-size: 2rem;
    color: #636e72;
  }
  .card-value {
    font-size: 5rem;
    color:#0984e3;
    text-align: center;
  }
}