.history {
  margin-top: 6rem;
  max-width: 56vw;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5rem;
  
  .table {
    padding : 1rem 2rem;
    border : 1px solid #636e72;
    border-radius: 5px;
  }
  
  h2 {
    color: #57606f;
    font-size: 2rem;
  }
  
  .head {
    display: flex;
    position: sticky;
    top: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    li {
      width: 25%;
      text-align: center;
      padding: 1rem;
      background-color:#fff;
      color: #2f3640;
      font-size: 1.8rem;
      font-weight: 700;
     
    }
  }
  
  .list {
    display: flex;
    flex-direction: column;
    
    .row {
      display: flex;
      justify-content: space-between;
      align-content: space-between;
      border-top: 1px solid #7f8fa6;
      background-color:#ffffff;
      &:nth-child(even){
        //background-color:#dcdde1;
      }
      &:nth-child(odd) {
       // background-color:#f5f6fa;
      }
      &:first-child {
        border-top: 2px solid #7f8fa6;
      }
      
    }
    span {
      width: 25%;
      text-align: center;
   
      padding: 1rem .5rem;
      font-size: 1.6rem;
      color: #2f3640;
    }
  }
}