@import './scss/_normalize.scss';
//american pallete
//https://flatuicolors.com/palette/us

li { list-style: none}

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;1,500&display=swap');
.App {
  background:#dfe4ea;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

